# Auto detect text files and perform LF normalization
* text=auto


*.gitattributes     eol=lf
*.prefab            eol=lf
*.unity             eol=lf
*.meta              eol=lf
*.dwlt              eol=lf